
.squire {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    width: 100px;
    height: 100px;
    background-color: red;  
    animation-name: squire-movement;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}
@keyframes squire-movement {
    0% {
        background-color: red;
    }
    25% {
       transform: translateY(100px);
       background-color: blue;
    }
    50% {
        transform: translate(100px, 100px);
        background-color: green;
    }
    75% {
        background-color: yellow;
        transform: translate(100px, 0);
    }
    100% {
        background-color: red;
    }
}